body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: #1f2937;
    height: 100px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
button{
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bolder;
    color: #f9faf8;
    border-radius: 8px;
    width: 150px;
    height: 40px;
}
.rightH{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 13px;
    margin-right: 40px;
    
}
ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    font-size: 22px;
}
a{
    text-decoration: none;
    color: wheat;
}

.content{
    display: flex;
    background-color: #1f2937;
    padding: 50px;
    
}
.catalog{
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    
}
.text{
    color: #1f2937;
}

.title{
    display: flex;
    justify-content: center;
}
.pic1, .pic2, .pic3, .pic4{
    display: block;
    text-align: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}
#one{
    font-size: 18px;
    color: #e5e7eb;
}

#f{
    width: 450px;
    height: 250px;
}
#t{
    width: 150px;
    height: 150px;
}